# Fyers Trading Account Credentials
FYERS_APP_ID=JIHLRUYWGE-100
FYERS_SECRET_ID=DZQQB3O1GS
FYERS_API_URL=https://api-t1.fyers.in/api/v3

# Analysis Settings
MIN_SCORE_THRESHOLD=4
ANALYSIS_PERIOD=1y
AUTO_TRADE=false
QUANTITY_PER_STOCK=1
